tirexbox.config.version=1
tirexbox.config.code=1
tirexbox.config.codename=reguler

__________________________________
|
|            TirexBox Apps
| ON  = Enable
| OFF = Disable
|_________________________________
GoogleKeyBord=ON
GoogleMessenger=ON
GoogleContacts=ON
SoundPicker=ON
GoogleDialer=ON
__________________________________
|
|            Boot Animation
|_________________________________
0. Default ROM BootAnimations
1. Asus ROG Phone 3
2. Asus ROG Phone 5
3. Stockrom Asus Zenfone Max Pro M1/M2
4. Sony Xperia
5. Asus Zenfone 8
6. Google Pixel 5 Dark
7. Google Pixel 5 White


bootanimation=2

__________________________________
|
|              Tweaks
| 1 = ON
| 0 = OFF
|_________________________________
TirexBox_Debloater=1
Camera2ApiEnable=1
Disable.Thermal.engine=1
Network.Tweaks=0
Network.Tweak.Ipv4=0
force.stop.app.after.booting=1
__________________________________
|
|              Kernel
| ON/OFF
|_________________________________
             GPU

0. OFF Bosster
1. Normal Booster
2. Extreme Booster

gpu.booster=1

             CPU

0. OFF Bosster
1. Normal Booster
2. Extreme Booster

cpu.booster=1
__________________________________
|
|          Executable binary
| ON  = Enable
| OFF = Disable
|_________________________________
Brotli=ON
Zstd=ON
Vim=ON
Zip=ON
Busybox=ON
Curl=ON
Bash=ON
7za=ON

__________________________________
|
|            Animation Scale
|_________________________________
1. Store 0.0
2. Very fast 0.3
3. Fast 0.5 
4. Normal (Android stock) 1.0
5. Slow 1.5
6. very slow 2.0

AnimationScale=3